@import "~bootstrap/scss/bootstrap.scss";
.body,
html {
  background-color: #0b7827;
  background-size: 100%;
}
.container {
  background-color: #0b7827;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}
.card {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid black;
  width: 350px;
  height: 500px;
}

.suite {
  font-size: 100px;
}

.number {
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
}

#suite-top {
  margin-top: 0px;
  margin-left: 15px;
}
#suite-bottom {
  position: absolute;
  margin-right: 15px;
  margin-top: 350px;
  margin-left: 265px;
}
