@import "~bootstrap/scss/bootstrap.scss";

.card {
  background-color: white;
  border: 1px solid black;
  width: 250px;
  height: 400px;
}

.suite {
  font-size: 100px;
}

.number {
  font-size: 100px;
}
// #suite-top {
//     width: 100%;
//     height:

// }
