// @import "~bootstrap/scss/bootstrap.scss";
.body,
html {
  background-image: url(https://cdn.shopify.com/s/files/1/0067/3926/3555/products/6Q3A1571_1024x1024@2x.jpg?v=1564646169);
}

.container {
  position: relative;
  justify-content: center;
  width: 350px;
  height: 500px;
}

.card {
  position: relative;
  margin-top: 70px;
  background-color: white;
  border: 1px solid black;
  width: 350px;
  height: 500px;
}

.suite {
  position: relative;
  font-size: 100px;
}

.number {
  margin: auto;
  font-size: 100px;
}

#suite-top {
  margin-right: 15px;
  width: 100%;
  height: 150px;
}
#suite-bottom {
  width: 100%;
  height: 150px;
  margin-bottom: 0px;
  margin-right: 15px;
}
